<%- include('includes/head') %> <%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="cl-lg-8 my-5">
      <h1 class="text-center">Bem vindo <%= user.email %></h1>
      <p class="text-center lead">Voce precisar sair para criar outra conta</p>

      <%- include('includes/messages') %>
    </div>
  </div>
</div>

<%- include('includes/footer') %>
